# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# Data files
*.csv
*.parquet
*.feather

# Logs
*.log

# Temporary files
*.tmp

# Python packaging
build/
dist/
*.egg-info/